@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');

:root {
    --primary-color: #09bc8a;
    --secondary-color: #bfae48;
    --accent1-color: #5fad41;
    --accent2-color: #391463;
    --heading-font: "Poiret One";
    --paragraph-font: Quicksand, Helvetica, sans-Serif;
}

html {
    background-color: var(--primary-color)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 1em;
    text-align: center;
    color: var(--accent2-color);
    background-color:
}

header>h1 {
    color:
}

p {
    font-family: var(--paragraph-font);
    color: ;
    padding: 1em
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em
}

.primary {
    background-color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}

nav {
    background-color: ;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex
}

ul {
    font-family: var(--paragraph-font);
}

.signature {
    font-family: var(--paragraph-font);
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color:
}

nav a:hover {
    color: ;
    background-color:
}
footer {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}