body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace
}

/* #region  Content1 */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 556px;
    grid-gap: 20px;
    justify-items: center;
    margin: 34px;
}

.red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
}

.blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}

/* #endregion */

/* #region  Content2 */
.content2 {
    position: relative;
}

.red2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
}

.green2 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 60px;
    left: 60px;
}

.gold2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 110px;
    left: 110px;

}

.blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 160px;
    left: 160px;
}

/* #endregion */

/* #region  Content3 */
.content3 {
    position: relative;
}

.red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green3 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 60px;
    left: 60px;
}

.gold3 {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 110px;
    left: 110px;

}

.blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}

/* #endregion */