body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace
}
/*#region Layout 1*/

/* Layout 1 styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 556px;
    grid-gap: 20px;
    justify-items: center;
    margin: 34px;
}

.red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
}

.blue1 {
    width: 100% ;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}
/*#endregion*/

/* Layout 2 styles */
.content2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 800px;
    height: 391px;
    grid-gap: 1px    ;
}

.red2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.green2 {
    width: 100px;
    height: 100px;
    background-color: green;
}

.gold2 {
    width: 100px;
    height: 100px;
    background-color: gold;
}

.blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}