@media only screen and (min-width: 64em) {
  /* @media only screen and (min-width: 51em) and (max-width: 100em){ */
  body {
    background-color: white;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main section:nth-child(3) {
    grid-column: span 1;
  }
}
