@media only screen and (min-width: 32em) {
    /* @media only screen and (min-width: 26em) and (max-width: 50em) { */

  body {
    background-color: blue;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  main section:nth-child(2) {
    display: block;
  }

  main section:nth-child(3) {
    grid-column: span 2;
  }

  /* main {
    grid-template-columns: 1fr 1fr;
  }

  main section:nth-child(1) {
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1 / 2;
  } */

  section {
    text-align: center;
  }
}
