@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
:root {
  --first: #412234;
  --second: #6d466b;
  --third: #b49fcc;
  --background: #ead7d7;
  --main: "Poppins", sans-serif;
  --iiMain: "Nunito", sans-serif;
}

body {
  /* background-color: greenyellow; */
  font-size: 12px;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 1em */
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
}

section {
    text-align: center;
  }

header,
main,
footer {
  font-family: var(--iiMain);
  padding: 5px;
}

header {
  background-color: var(--first);
  text-align: center;
}

.txtBox {
  background-color: var(--background);
  border-top: var(--first);
  border-radius: 10px;
}

footer {
  text-align: center;
  background-color: var(--first);
  padding: 20px 20px 20px 20px;
  font-size: .9em;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: var(--main);
  color: var(--first);
}

header h1,
p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}

p {
  font-family: var(--iiMain);
}

h2 {
  text-align: center;
  background-color: var(--first);
  color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 5px 5px 5px;
  margin-top: 0em;
}

table {
  font-size: 1em;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
  margin: 0 auto;
}

table .t {
  font-weight: bold;
}

td {
  border: 1px solid black;
}

img {
  width: 90%;
  height: auto;
  box-shadow: 0px 0px 5px black;
  margin: 2em 0 0 0;
}

p,
.t,
td {
  padding: 5px 5px 5px 10px;
}

th {
    text-align: center;
}

p {
  font-size: 1.5em;
}

section p {
    text-align: left;
    color: black;
}

a {
    color:white;
    font-weight: bold;
}