/* #region  ROOT */
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

:root {
    --first: #ffffff;
    --second: #0000ff;
    --third: #ff0000;
    --iifirst: #d00000;
    --iisecond: #ffba08;
    --iithird: #000000;
    --background: #0fa3b1;
    --iibackground: #b5e2fa;
    --main: 'Ubuntu', sans-serif;
    --iimain: 'Ubuntu Condensed', sans-serif;
}
/* #endregion */

body {
    background-color: var(--iibackground);
    font-size: 16px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 0 0 0;
    background-color: var(--final);
    font-family: var(--submain);
}

h2 {
    font-family: var(--main);
}