/* #region  ROOT */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');

/* https://fonts.google.com/?subset=cyrillic */

:root {
    --first: #6B6E59;
    --second: #5E8E71;
    --third: #183207;
    --fourth: #4D230F;
    --final: #E2B77C;
    --main: "Poiret One", serif;
    --submain: Quicksand, Helvetica, sans-Serif;
}
/* #endregion */

body {
    background-color: var(--first);
    font-size: 16px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 0 0 0;
    background-color: var(--final);
    font-family: var(--submain);
}