/* #region  MAIN SECTION */
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

:root {
    --first: #ffffff;
    --second: #0000ff;
    --third: #ff0000;
    --iiFirst: #d00000;
    --iiSecond: #ffba08;
    --iiThird: #000000;
    --background: #0fa3b1;
    --iiBackground: #b5e2fa;
    --main: 'Ubuntu', sans-serif;
    --iiMain: 'Ubuntu Condensed', sans-serif;
}

html {
    background-color: var(--iiBackground);
}

body {
    font-size: 16px;
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--background);
    padding: 1em
}

/* .page-container {
    
} */

h1,
h2,
h3,
h4 {
    font-family: var(--main);
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 0 0 0;
    background-color: var(--final);
    font-family: var(--iiMain);
}

/* #endregion */

/* #region  SITE PLAN */
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 12.5%;
    height: 3em
}

.first {
    background-color: var(--first);
    border: 1px solid black;
}
.second {
    background-color: var(--second);
    color: white;
    border: 1px solid white;
}
.third {
    background-color: var(--third);
    border: 1px solid black;
}
.iiFirst {
    background-color: var(--iiFirst);
    border: 1px solid black;
}
.iiSecond {
    background-color: var(--iiSecond);
    border: 1px solid black;
}
.iiThird {
    background-color: var(--iiThird);
    color: white;
    border: 1px solid white;
}
.background {
    background-color: var(--background);
    border: 1px solid black;
}
.iiBackground {
    background-color: var(--iiBackground);
    border: 1px solid black;
}

.colored {
    color: var(--background);
    padding: 3px;
    background-color: var(--iiSecond);
}

/* #endregion */