/* #region  MAIN SECTION */
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

:root {
    --first: #ffffff;
    --second: #0000ff;
    --third: #ff0000;
    --iiFirst: #d00000;
    --iiSecond: #ffba08;
    --iiThird: #000000;
    --background: #0fa3b1;
    --iiBackground: #b5e2fa;
    --main: 'Ubuntu', sans-serif;
    --iiMain: 'Ubuntu Condensed', sans-serif;
}

html {
    background-color: var(--iiBackground);
}

body {
    font-size: 16px;
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--background);
    padding: 1em
}

h1,
h2,
h3,
h4 {
    font-family: var(--main);
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 0 0 0;
    background-color: var(--final);
    font-family: var(--iiMain);
}

/* #endregion */

/* #region  SITE PLAN */
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 12.5%;
    height: 3em
}

.first {
    background-color: var(--first);
    border: 1px solid black;
}

.second {
    background-color: var(--second);
    color: white;
    border: 1px solid white;
}

.third {
    background-color: var(--third);
    border: 1px solid black;
}

.iiFirst {
    background-color: var(--iiFirst);
    border: 1px solid black;
}

.iiSecond {
    background-color: var(--iiSecond);
    border: 1px solid black;
}

.iiThird {
    background-color: var(--iiThird);
    color: white;
    border: 1px solid white;
}

.background {
    background-color: var(--background);
    border: 1px solid black;
}

.iiBackground {
    background-color: var(--iiBackground);
    border: 1px solid black;
}

.colored {
    color: var(--background);
    padding: 3px;
    background-color: var(--iiSecond);
}

.wireF {
    width: 960px;
    height: auto;
}

/* #endregion */

/* #region  HEADER */
.loggoMotto {
    display: grid;
    grid-template-columns: 50px repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.loggoMotto::before {
    content: "";
    background-color: var(--iiSecond);
    grid-column: 1/8;
    grid-row: 1;
}

.loggo {
    align-self: center;
    grid-area: 1/2/1/4;
    width: 100%;
    height: auto;
    padding: 5px 5px 5px 5px;
    /* box-shadow: 0px 5px 5px var(--iiThird); */

}

.title {
    grid-area: 1/4/1/8;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    grid-area: 1/1;
    align-self: center;
    margin-left: 5px;
    z-index: 5;

}

.navbar a {
    float: left;
    font-size: 1.5em;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: grey;
    padding: 0%;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--background);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--iiSecond);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--first);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* #endregion */

/* #region  FOOTER */
footer {
    font-size: 1em;
    background-color: var(--iiSecond);
}

footer p {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding: 5px 0 5px 0;
    word-spacing: 10px;
}

/* #endregion */

/* #region  MAIN */
.mainGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    background-color: var(--iiBackground);
}

.mainP {
    font-size: 5em;
    font-family: var(--main);
    color: var(--iiThird);
    grid-area: 1/1/4/6;
    z-index: 4;
    text-align: left;
    margin: 100px 10px 10px 100px;
}

.image01 {
    grid-area: 1/6/1/7;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px var(--iiThird);
    border-radius: 50%;
}

.image001 {
    grid-area: 1/1/1/7;
    z-index: 1;
}

.image02 {
    grid-area: 2/6/2/7;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px var(--iiThird);
    border-radius: 50%;

}

.image002 {
    grid-area: 2/1/2/7;
    z-index: 1;
}


.image03 {
    grid-area: 3/6/3/7;
    z-index: 2;
    margin: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px var(--iiThird);
    border-radius: 50%;

}

.image003 {
    grid-area: 3/1/3/7;
    z-index: 1;
}

.imageCover {
    grid-area: 1/1/4/7;
    z-index: 3;
}

/* #endregion */

/* First
Second
Third */

/* #region  FINAL */
.final-container {
    background-color: var(--iiBackground);
}

.final-container h1 {
    margin-top: 0%;
    padding-top: 5px;
    text-align: center;
    font-size: 1.75em;
}

.final-container h2 {
    margin-left: .5em;
    margin-top: 0%;
    padding-top: 5px;
    text-align: left;
    font-size: 1.5em;
}

.final-container p {
    margin-left: 1em;
    margin-bottom: 0%;
    padding-bottom: 5px;
    font-size: 1.25em;
}

.lists {
    padding-left: .5em;
}

.final-container ul {
    margin-top: 0%;
    margin-left: 1.75em;
    margin-bottom: 0%;
    font-size: 1em;
    padding-bottom: 5px;
}

/* #endregion */

/* #region  FINALFORM */
.bodyForms {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: var(--main);
    text-align: center;
}

#feedback {
    font-family: var(--main);
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    display: inline-block;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em var(--iiMain);
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
    font-family: var(--sub);
    font-weight: bold;
}

#address {
    margin: 10px 10px 10px 1em;
}
/* #endregion */