@media only screen and (min-width: 30.5em) {
  
  /* body {
    background-color: yellowgreen;
  } */
  
  .navigation {
    display: flex;
    font-size: 1em;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  header {
    background-color: black;
    color: white;
    font-size: 1em;
  }

  header img {
    width: 75px;
    height: auto;
  }

  .headings h1 {
    margin: 0 0 0 30px;
  }

  .motto {
    letter-spacing: 1.5pt;
    margin-left: 37.5px;
    font-size: 1em;
  }

  main {
    font-size: 1em;
    max-width: 960px;
    margin: 0 auto;
  }

  .mainDivContainer {
    max-width: 920px;
    margin: 0 auto;

  }

  footer {
    font-size: 1em;
  }

  .weatherImageContainer {
    font-size: 1em;
    width: 100%;
  }

  .weatherImage {
    margin-bottom: 0em;
  }

  .weatherImage img {
    width: 100%;
    height: auto;
  }

  .weatherBannerTable tr td:nth-child(2) {
    font-weight: normal;
  }

  .fiveDayForecastContainer {
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: inherit;
    margin-bottom: 1em;
    font-size: 1em;
  }

  .fiveDayForecastFlex {
    display:flex;
    flex-flow: row wrap;
    border-right: 1px solid #fff;
    font-size: 1.1rem;

  }

  .fiveDayForecastFlex-col {
    flex: 1 1 auto;
    color: white;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;
  }

  .fiveDayForecastFlex-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-weight: 700;
    background-color: white;
    color: black;
  }
  
  .articleContainer {
    margin: 0 auto;
    background-color: var(--background2);
    width: 100%;
  }

  .article {
    padding: 1em 1em 2em 1em;
  }

  .article img {
    float:right;
    margin: .5rem .25rem .5rem 1.25rem;
    width: 200px;
  }

  .icons img {
    width: 40px;
  }

  footer {
    font-size: .9em;
}

i img {
  /* color: #660000; */
  width: 25px;
}

.map {
  max-width: 680px;
  }
}
