main {
  max-width: 560px;
  margin: 0 auto;
}

.headerWords {
  font-size: 1.5em;
  h1,
  h2 {
    letter-spacing: 3px;
  }
}

.weatherBanner {
  margin: 0 auto;
  padding-left: 60px;
}

.fiveDayForecast {
  margin: 0 auto;
  width: auto;
  text-align: center;
  display: inherit;
  margin-bottom: 1em;
  font-size: 1em;
}

.fiveDayForecastFlex {
  display: flex;
  flex-flow: row wrap;
  border-right: 1px solid $color4DBlue;
  font-size: 1.1rem;
}

.fiveDayForecastFlex-col {
  flex: 1 1 auto;
  color: black;
  border-bottom: 1px solid $color4DBlue;
  border-left: 1px solid $color4DBlue;
  text-align: center;
  background-color: $color5LBlue;
  h4 {
    margin-top: 0em;
  }
}

.fiveDayForecastFlex-head {
  display: block;
  padding: 1em 1em;
  border-bottom: 1px solid $color4DBlue;
  text-align: center;
  font-weight: 700;
  background-color: $color4DBlue;
  color: black;
}

.bookClick {
  border-radius: 5px;
  width: 400px;
}

.mainDivContainerGalleryGrid {
  grid-template-columns: repeat(2, 1fr);
}

.contactInfo h3 {
  font-size: 2.5em;
}
