$colorWhite: #FFF;
$colorBlack: #000;
$color1Yellow: #fdc010;
$color2LGreen: #8bc34a;
$color3DGreen: #43a047;
$color4DBlue: #009688;
$color5LBlue: #09bcd3;

$fontBold: 'ZCOOL KuaiLe', cursive;
$fontReg: 'Baloo Bhai 2', cursive;
$fontLogo: 'Permanent Marker', cursive;

$small: 1.1em;
$medium: 1em;
$large: 1em;

$fullWidth: 1hw;
$centeredWidth: 960px;

$gap: 5%;

// LOGO https://www.freelogodesign.org/preview?lang=en&name=Scoots%20Nature&logo=b39ca508-b830-4e5d-bfab-54f64fdf4ab0