@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Oswald:wght@700&display=swap");

:root {
  --first: #8cbee3;
  --main: "Oswald", sans-serif;
  --mainSecond: "ABeeZee", sans-serif;
}

body {
  font-size: 16px;
  max-width: 960px;
  margin: 0 auto;
  /* padding: 0em 1em 0em 1em; */
  font-family: var(--mainSecond);
}



/* header {
    background-color: var(--main);
} */
