@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

:root {
    --first: #1D8A99;
    --second: #62A8AC;
    --third: #7BF1A8;
    --fourth: #00e8fc;
    --background: #A1D2CE;
    --main: 'Ubuntu', sans-serif;
    --iiMain: 'Ubuntu Condensed', sans-serif;
}

body {
    font-size: 16px;
    max-width: 550px;
    margin: 0 auto;
    padding: 1em
}

header,
main,
footer {
    margin: 0 0 0 0;
    font-family: var(--iiMain);
}

#container {
    position: relative;
}

#profileImg {
    width: 25%;
    height: auto;
    position: absolute;
    top: 10px;
    left: 400px;
    box-shadow: 0px 0px 25px var(--second);
    border-radius: 10px 40px 40px 40px;
}

main {
    margin-left: 20px;
}

footer {
    font-size: .85em;
    text-align: center;
    background-color: var(--background);
    padding: 10px 0 10px 0px;
    border-radius: 10px;
}

#lastUpdated {
    color: #218380;
}

h1 {
    padding: 10px 0 10px 40px;
    background-color: var(--background);
    border-radius: 10px;
    font-family: var(--main);
    font-size: 2em;
}

h2 {
    border-bottom: thin solid var(--first);
    margin-right: 20px;
    font-family: var(--main);
}