/* #region  Root */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');

:root {
    --first: #6B6E59;
    --second: #5E8E71;
    --third: #183207;
    --fourth: #4D230F;
    --final: #E2B77C;
    --main: "Poiret One", serif;
    --submain: Quicksand, Helvetica, sans-Serif;
}

/* #endregion */

/* #region  TOP NAV */
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    flex: 1 1 100%;
}

nav ul li a {
    display: block;
    background-color: var(--final);
    color: var(--four);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: var(--submain);
}

li a:hover:not(.active) {
    background-color: var(--second);
}

/* #endregion */

/* #region  FOOT NAV */
footer nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

footer nav ul li {
    flex: 1 1 100%;
}

footer nav ul li a {
    display: block;
    background-color: var(--final);
    text-align: center;
    padding: 2px;
    text-decoration: none;
}

footer li a:hover:not(.active) {
    background-color: var(--second);
}

footer {
    padding: 5px;
}

.signature {
    padding: 5px;
}

/* #endregion */

/* #region  BODY + INGREDIENTS */
body {
    background-color: var(--first);
    font-size: 16px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--first);
    font-family: var(--submain);
}

header {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 0;
    border: 1px solid var(--final);
    box-shadow: 0 0 30px black;
}

header h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    margin: 0 0 1px 30px;
    font-family: var(--main);
}

.motto {
    font-family: var(--submain);
    font-style: italic;
    letter-spacing: 1pt;
    color: white;
    margin-left: 30px;
    font-size: 1rem;
}

.bodyimage {
    width: 300px;
    height: auto;
}

h2 {
    color: var(--third);
    background-color: var(--second);
    font-size: 2rem;
    font-family: var(--main);
}

p {
    color: black;
    background-color: var(--second);
    font-size: 1.25rem;
}

footer {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    font-size: .75rem;
    font-family: var(--main);
}

footer img {
    width: 30px;
}

/* #endregion */

/* #region  NOTES */
/*
-----------------------------------------------------------------------------------------------
-- -NOTES-
-----------------------------------------------------------------------------------------------
Colors for img relax:
FIRST--Grey #6B6E59
    Black #060907
SECOND--Light green #5E8E71
THIRD--Green #183207
FOURTH--orange #4D230F
FINAL--brown #E2B77C
*/
/* #endregion */