/*
-----------------------------------------------------------------------------------------------
-- -main section-
-----------------------------------------------------------------------------------------------
*/
/*@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');*/

:root {
    --first: #6B6E59;
    --second: #5E8E71;
    --third: #183207;
    --fourth: #4D230F;
    --final: #E2B77C;
    /*--heading-font: "Poiret One";
    --paragraph-font: Quicksand, Helvetica, sans-Serif;*/
}

/*
-----------------------------------------------------------------------------------------------
-- -navigation section & lists-
-----------------------------------------------------------------------------------------------
*/

nav>ul {
    list-style-type: none;
    display: flex
}

li a {
    display: block;
    color: var(--first);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: var(--final);
}

/*
-----------------------------------------------------------------------------------------------
-- -BODY and other elements-
-----------------------------------------------------------------------------------------------
*/

body {
    background-color: var(--first);
    font-size: 18px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--first);
}

header {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    padding: 10px;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 0;
    border: 1px solid var(--final);
    box-shadow: 0 0 30px black;
}

header h1 {
    font-size: 2.2em;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
}

.bodyimage {
    width: 300px;
    height: auto;
}

/*
-----------------------------------------------------------------------------------------------
-- -NOTES-
-----------------------------------------------------------------------------------------------
Colors for img relax:
FIRST--Grey #6B6E59
    Black #060907
SECOND--Light green #5E8E71
THIRD--Green #183207
FOURTH--orange #4D230F
FINAL--brown #E2B77C
*/