/* #region  Root */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');

:root {
    --first: #6B6E59;
    --second: #5E8E71;
    --third: #183207;
    --fourth: #4D230F;
    --final: #E2B77C;
    --main: "Poiret One", serif;
    --submain: Quicksand, Helvetica, sans-Serif;
}

/* #endregion */
/* #region  TOP NAV */
#top-nav {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.top-nav {
    flex: 1 1 100%;
}

.top-nav-a {
    display: block;
    background-color: var(--final);
    color: var(--four);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: var(--submain);
}

#bot-nav {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.bot-nav {
    flex: 1 1 100%;
}

li a:hover:not(.active) {
    background-color: var(--second);
}

/* #endregion */
/* #region  BODY + INGREDIENTS */
body {
    background-color: var(--first);
    font-size: 16px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

/* 960x640 */

header,
main,
footer {
    max-width: 960px;
    margin: 0 0 0 0;
    background-color: var(--final);
    font-family: var(--submain);
}

header {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 0;
    border: 1px solid var(--final);
    box-shadow: 0 0 30px black;
}

header h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    margin: 0 0 1px 30px;
    font-family: var(--main);
}

.motto {
    font-family: var(--submain);
    font-style: italic;
    letter-spacing: 1pt;
    color: white;
    margin-left: 30px;
    font-size: 1rem;
}

.bodyimage {
    width: 100%;
    height: auto;
    border: 1px solid white;
    box-shadow: 5px 5px 5px black;

}

h2 {
    color: var(--third);
    font-size: 2.5rem;
    font-family: var(--main);
    margin: 0 0 0 0;
    text-shadow: 1.5px 1.5px 4px var(--first);
    border-top: 5px double;
}

p {
    color: black;
    font-size: 1.25rem;
    margin: 0 0 0 0;
}

footer {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    font-size: .75rem;
    font-family: var(--main);
}

footer img {
    width: 100%;
    height: auto;
}

/* #endregion */
/* #region  FOOTER GRID */
.signature-grid {
    padding: 5px;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    max-width: 960px;
    grid-gap: 5px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}

.signature {
    grid-column: 1/5;
}

#bot-nav-div {
    grid-column: 9/10;
}

footer {
    padding: 5px;
}

@media screen and (max-width: 550px) {
    .signature-grid {
        display: block;
    }
}

/* #endregion */
/* #region  GRID */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 960px;
    grid-gap: 10px;
    margin: 20px 20px 0 20px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}

/*TOP---------------------------------------------------------------------------------------------------------*/
.home-headline-1 {
    grid-column: 1/4;
    grid-row: 1/2;
}

.home-paragraph-1 {
    grid-column: 2/4;
    grid-row: 2/3;
}

.home-right-img {
    grid-column: 4/6;
    grid-row: 1/3;
}

/*MIDDLE and BOTTOM-------------------------------------------------------------------------------------------*/
.home-headline-2 {
    grid-column: 3/6;
    grid-row: 3/4;
    margin-left: 20px;
}

.home-paragraph-2 {
    grid-column: 4/6;
    grid-row: 4/5;
}

.home-left-img {
    grid-column: 1/3;
    grid-row: 3/5;
}

.home-paragraph-3 {
    grid-column: 2/5;
    grid-row: 5/6;
    margin: 0 0 10px 0;
}

.home-paragraph-3 h2 {
    text-align: center;
}

@media screen and (max-width: 550px) {
    .home-grid {
        display: block;
    }
}

/* #endregion */
/* #region  GRID GALLERY */
.gallery-box-image-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 960px;
    grid-gap: 20px;
    margin: 0px 20px 0 20px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
    font-family: var(--submain);
}

/* * {box-sizing:border-box} */

.mySlides {
    grid-column: 1/1;
    grid-row: 1/1;
    /* display: none; */
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    grid-column: 1/1;
    grid-row: 2/2;

}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-duration: 2s;
    transition: black 0.6s ease;
}

@-webkit-keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .7
    }

    to {
        opacity: 1
    }
}

.ih {
    color: var(--third);
    font-size: 2.5rem;
    font-family: var(--main);
    /* margin: 0 10px 30px 10px; */
    text-shadow: 1.5px 1.5px 4px var(--first);
    border-top: 5px double;
}

.ip p {
    color: black;
    font-size: 1.25rem;
    /* margin: 0 10px 30px 10px; */
}

.item-1 {
    grid-column: 1/1;
    grid-row: 3/3;
}

.item-2 {
    grid-column: 1/1;
    grid-row: 4/4;
}

.item-3 {
    grid-column: 1/1;
    grid-row: 5/5;
}

/* #endregion */
/* #region  BANNER BOX */
.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-box img {
    width: 100%;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 1;
}

.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(19, 223, 195, 0.45);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--final);
    font-size: 1.2em;
    font-family: var(--submain);
}

h3 {
    font-family: var(--main);
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 550px) {
    .banner-box {
        display: block;
    }
}

.button {
    text-decoration: none;
    color: var(--third);
}

/* #endregion */
/* #region  BACK ON TOP */
.myBtn_class {
    display: none;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(19, 223, 195, 0.45);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.myBtn_class {
    background-color: none;
}

/* #endregion */
/* #region  DROP DOWN MENU */
.rate-box {
    padding: 20px;
}

.collapsible {
    background-color: var(--first);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activeO,
.collapsible:hover {
    background-color: var(--second);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible, ih {
    font-size: 1.2em;
}

/* #endregion */
/* #region  NOTES */
/*
-----------------------------------------------------------------------------------------------
-- -NOTES-
-----------------------------------------------------------------------------------------------
Colors for img relax:
FIRST--Grey #6B6E59
    Black #060907
SECOND--Light green #5E8E71
THIRD--Green #183207
FOURTH--orange #4D230F
FINAL--brown #E2B77C
*/
/* #endregion */