/* #region  Root */
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');

:root {
    --first: #6B6E59;
    --second: #5E8E71;
    --third: #183207;
    --fourth: #4D230F;
    --final: #E2B77C;
    --main: "Poiret One", serif;
    --submain: Quicksand, Helvetica, sans-Serif;
}

/* #endregion */

/* #region  TOP NAV */
#top-nav {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.top-nav {
    flex: 1 1 100%;
}

.top-nav-a {
    display: block;
    background-color: var(--final);
    color: var(--four);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: var(--submain);
}

#bot-nav {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.bot-nav {
    flex: 1 1 100%;
}

li a:hover:not(.active) {
    background-color: var(--second);
}

/* #endregion */

.signature-grid {
    padding: 5px;
    margin: 0 0 0 0;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: auto;
    max-width: 960px;
    grid-gap: 5px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}
.signature {
    grid-column: 1/5;
}

#bot-nav-div {
    grid-column: 9/10;
}

footer {
    padding: 5px;
}

/* #endregion */

/* #region  BODY + INGREDIENTS */
body {
    background-color: var(--first);
    font-size: 16px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--final);
    font-family: var(--submain);
}

header {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 0;
    border: 1px solid var(--final);
    box-shadow: 0 0 30px black;
}

header h1 {
    font-size: 4rem;
    display: flex;
    flex-direction: row;
    margin: 0 0 1px 30px;
    font-family: var(--main);
}

.motto {
    font-family: var(--submain);
    font-style: italic;
    letter-spacing: 1pt;
    color: white;
    margin-left: 30px;
    font-size: 1rem;
}

.banner-box img {
    width: 100%;
    height: auto;
}

.bodyimage {
    width: 100%;
    height: auto;
}

h2 {
    color: var(--third);
    font-size: 2.5rem;
    font-family: var(--main);
    margin: 0 0 0 0;
    text-shadow: 1.5px 1.5px 4px var(--first);
}

p {
    color: black;
    font-size: 1.25rem;
    margin: 0 0 0 0;
}

footer {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    font-size: .75rem;
    font-family: var(--main);
}

footer img {
    width: 30px;
    height: auto;
}

/* #endregion */

/* #region  GRID */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 960px;
    grid-gap: 5px;
    margin: 10px 10px 0 10px;
    justify-content: space-around;
    align-content: space-around;
    justify-items: center;
}
/*TOP---------------------------------------------------------------------------------------------------------*/
.home-headline-1 {
    grid-column: 1/4;
    grid-row: 1/2; 
}

.home-paragraph-1 {
    grid-column: 2/4;
    grid-row: 2/3; 
}

.home-right-img {
    grid-column: 4/6;
    grid-row: 1/3;
}
/*MIDDLE and BOTTOM-------------------------------------------------------------------------------------------*/
.home-headline-2 {
    grid-column: 3/6;
    grid-row: 3/4; 
}

.home-paragraph-2 {
    grid-column: 4/6;
    grid-row: 4/5; 
}

.home-left-img {
    grid-column: 1/3;
    grid-row: 3/5;
}

.home-paragraph-3 {
    grid-column: 2/5;
    grid-row: 5/6; 
    margin: 0 0 10px 0;
}

.home-paragraph-3 h2 {
    text-align: center;
}

/* #endregion */

/* #region  NOTES */
/*
-----------------------------------------------------------------------------------------------
-- -NOTES-
-----------------------------------------------------------------------------------------------
Colors for img relax:
FIRST--Grey #6B6E59
    Black #060907
SECOND--Light green #5E8E71
THIRD--Green #183207
FOURTH--orange #4D230F
FINAL--brown #E2B77C
*/
/* #endregion */