/*@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');*/

:root {
    --primary-color: #2b4162;
    --subprimary-color: silver;
    --secondary-color: #beb0a7;
    --accent1-color: #8b9d83;
    --accent2-color: #6a7b76;
    /*--heading-font: "Poiret One";
    --paragraph-font: Quicksand, Helvetica, sans-Serif;*/
}

nav>ul {
    list-style-type: none;
    display: flex
}

li a {
    display: box;
    color: var(--primary-color);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: gold;
}

body {
    background-color: var(--primary-color);
    font-size: 18px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--accent2-color);
}

header {
    background-color: var(--accent2-color);
    color: var(--subprimary-color);
    /*<!--border: 1px solid var(--subprimary-color);*/
    padding: 10px;
}

header img {
    width: 100px;
    height: auto;
    /*border: 1px solid var(--subprimary-color);*/
    box-shadow: 0 0 30px orange;
}

header h1 {
    font-size: 2.2 rem;
    margin: 0 0 0 60px;
    display: flex;
    flex-direction: row;
}