/*
-----------------------------------------------------------------------------------------------
-- -main section-
Займись тем чтобы везде обозначить Margin, Border, Padding и Content
-----------------------------------------------------------------------------------------------
*/
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Quicksand&display=swap');

:root {
    --first: #6B6E59;
    --second: #5E8E71;
    --third: #183207;
    --fourth: #4D230F;
    --final: #E2B77C;
    --heading-font: "Poiret One";
    --paragraph-font: Quicksand, Helvetica, sans-Serif;
}

/*
-----------------------------------------------------------------------------------------------
-- -navigation section & lists-
-----------------------------------------------------------------------------------------------
*/

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    flex: 1 1 100%;
}

nav ul li a{
    display: block;
    background-color: var(--final);
    color: var(--four);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: var(--heading-font);
}

li a:hover:not(.active) {
    background-color: var(--second);
}

/*
-----------------------------------------------------------------------------------------------
-- -BODY and other elements-
-----------------------------------------------------------------------------------------------
*/

body {
    background-color: var(--first);
    font-size: 18px;
}

.page-container {
    max-width: 960px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--first);
    font-family: var(--paragraph-font);
}

header {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
    padding: 10px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin: 0 0 0 0;
    border: 1px solid var(--final);
    box-shadow: 0 0 30px black;
}

header h1 {
    font-size: 2.2em;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    font-family: var(--paragraph-font);
}

.bodyimage {
    width: 300px;
    height: auto;
}

h2 {
    color: var(--third);
    background-color: var(--second);
}

p {
    color: black;
    background-color: var(--second);
}

footer {
    background-color: var(--third);
    color: var(--final);
    border: 1px solid var(--fourth);
}

/*
-----------------------------------------------------------------------------------------------
-- -NOTES-
-----------------------------------------------------------------------------------------------
Colors for img relax:
FIRST--Grey #6B6E59
    Black #060907
SECOND--Light green #5E8E71
THIRD--Green #183207
FOURTH--orange #4D230F
FINAL--brown #E2B77C
*/