body {
    background-color: yellowgreen;
    font-size: 18px;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: tomato;
    color: thistle;
    border: 1px solid gold;
    padding: 10px;
}

header img {
    width: 100px;
    height: auto;
    border: 2px solid green;
    box-shadow: 0 0 30px goldenrod;
} 

header h1 {
    font-size: 2.2 rem;
}

/*
31.31/39.57
https://byui.instructure.com/courses/83786/assignments/3142889?module_item_id=8643972
*/