/* “CSS - Keyframe Animations.” CSS -
Keyframe Animations, Badell Maman, 19 Nov.
2016, youtu.be/AGFXMU8rink. */

@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #00fdc8ff;
  border-radius: 100%;
  animation: bounce 3s linear infinite, moveLeft 12s linear infinite;
}

@keyframes bounce {
  0% {
    bottom: 100%; /*background-color: red;*/
  }
  25% {
    bottom: 0;
    width: 100px;
    height: 100px;
  }
  30% {
    bottom: 0;
    width: 110px;
    height: 50px; /*background-color: blue;*/
  }
  35% {
    bottom: 0;
    width: 100px;
    height: 100px; /*background-color: green;*/
  }
  70% {
    bottom: 100%; /*background-color: black;*/
  }
  100% {
    bottom: 100%;
  }
}
@keyframes moveLeft {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Ubuntu Condensed', sans-serif;;
}

h1,h2,h3{
  text-align: center;
  color: black;
}

h4{
  font-size: 2em;
}

#paragraph {
  font-size: 1.5em;
}

nav {
  margin: 0 auto;
  max-width: 100%;
  background-color: tomato;
}
.navigation {
  list-style: none;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}
/* .navigation li:first-child {
  display: block;
} */
/* .navigation li {
  display: none;
} */
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.navigation a:hover {
  color: white;
  background-color: black;
}

.navigation {
  display: flex;
}
.navigation li {
  display: block; /* change state in small view */
  flex: 1 1 auto;
}
.navigation a {
  text-align: center;
}

.active {
  background-color: #00fdc8ff;
}

.textContainer {
  max-width: 960px;
  margin: 0 auto;
}