/* “CSS - Keyframe Animations.” CSS -
Keyframe Animations, Badell Maman, 19 Nov.
2016, youtu.be/AGFXMU8rink. */

@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed&display=swap');

.ball {
    width: 100px;
    height: 100px;
    background: #00fdc8ff; /*first color*/
    position: relative;
    animation: myfirst 5s 2;
    animation-direction: alternate;
    border-radius:100%;
    animation-fill-mode: forwards;
    
  }
  @keyframes myfirst {
    0%   {background: #B01224; left: 0px; top: 0px;}
    25%  {background: #FC900D; left: 200px; top: 0px;}
    50%  {background: #B06912; left: 200px; top: 200px;}
    75%  {background: #FC0D28; left: 0px; top: 200px;}
    100% {background: #B01224; left: 0px; top: 0px;} /*last color*/
  }

body {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Ubuntu Condensed', sans-serif;;
}

h1,h2,h3{
  text-align: center;
  color: black;
}

h4{
  font-size: 2em;
}

#paragraph {
  font-size: 1.5em;
}

nav {
  margin: 0 auto;
  max-width: 100%;
  background-color: tomato;
}
.navigation {
  list-style: none;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}
/* .navigation li:first-child {
  display: block;
} */
/* .navigation li {
  display: none;
} */
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.navigation a:hover {
  color: white;
  background-color: black;
}

.navigation {
  display: flex;
}
.navigation li {
  display: block; /* change state in small view */
  flex: 1 1 auto;
}
.navigation a {
  text-align: center;
}

.active {
  background-color: #00fdc8ff;
}

.textContainer {
  max-width: 960px;
  margin: 0 auto;
}