@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --background: #7fb9c2;
  --heading: #628ca6;
  --row1: #e7f0ed;
  --row2: #e7ffed;
  --mainFont: "Ubuntu", sans-serif;
}

body {
  max-width: 960px;
  margin: 0 auto;
}

tbody {
  font-weight: lighter;
  background: var(--row2);
}

tbody tr:nth-child(even) {
  background: var(--row1);
}

table td {
  padding: 0.3em 0.5em 0.3em 0.5em;
}

table {
  text-align: center;
  font-family: var(--mainFont);
  background-color: var(--background);
  box-shadow: 13px 13px 10px var(--heading);
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
}

table th {
  font-size: 1.6em;
  padding: 0.25em 0.25em 0.25em 0.25em;
  font-weight: bolder;
}

table,
th,
td {
  border: 1px solid lightgray;
}

#colorPlease {
  background-color: var(--heading);
  color: white;
}

tfoot td {
  font-size: 0.7em;
  padding: 0.6em 0.6em 0.6em 0.6em;
}

tbody th{
  background: var(--heading);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}