body {
  font-size: 16px;
  max-width: $fullWidth;
  margin: 0 auto;
  font-family: $fontReg;
  font-size: $small;
  h1,
  h2,
  h3,
  h4 {
    font-family: $fontBold;
  }
  main,
  footer,
  .headerWords,
  .contactContainer {
    padding: 0 $gap;
    .contactTxt h3 {
      font-family: $fontLogo;
    }
  }
  .headerWords {
    text-align: center;
    background-color: $color1Yellow;
    color: $color4DBlue;
    padding: 3em 0;
    h1,
    h2 {
      margin: 0 0;
    }
  }
}

header {
  max-width: $centeredWidth;
  a {
    img {
      display: flex;
      margin: 0 auto;
      width: 30%;
      height: auto;
      padding: 5px 0;
    }
  }
}

nav {
  margin: 0 auto;
  width: 100%;
  background-color: $color5LBlue;
}

.navigation {
  list-style: none;
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0em;

  li:first-child {
    display: block;
  }

  li {
    display: none;
  }

  a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: $colorWhite;
  }

  a:hover {
    color: $colorBlack;
    background-color: $colorWhite;
  }

  .active {
    background-color: $color1Yellow;
    color: $colorBlack;
  }
  .hamburger {
    text-align: center;
  }
}

.responsive li {
  display: block;
}

// 375 x 324 slideshow on the bottom of the pages 6 for cars 6 for location (3
// for one location, 3 for the other) total 12

.card {
  position: relative;

  width: 375px;
  height: 324px;
  overflow: hidden;

  // border-radius: 5px;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.1);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  transform: translateX(375px);
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/01_[S]_Carmen_Cozumel.jpg");
  animation: opaqTransition 42s cubic-bezier(1, 1, 1, 1) infinite;
}

.card_part.card_part-two {
  z-index: 12;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/07_[S]_Honda_Metropolitan.jpg");
  animation-delay: 3s;
}

.card_part.card_part-three {
  z-index: 11;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/02_[S]_Carmen_Cozumel.jpg");
  animation-delay: 6s;
}

.card_part.card_part-four {
  z-index: 10;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/08_[S]_Honda_Dio.jpg");
  animation-delay: 9s;
}
.card_part.card_part-five {
  z-index: 9;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/03_[S]_Carmen_Cozumel.jpg");
  animation-delay: 12s;
}
.card_part.card_part-six {
  z-index: 8;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/09_[S]_Honda_PCX150.jpg");
  animation-delay: 15s;
}
.card_part.card_part-seven {
  z-index: 7;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/04_[S]_Puerta_Maya.jpg");
  animation-delay: 18s;
}

.card_part.card_part-eight {
  z-index: 6;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/10_[S]_Honda_Pioneer.jpg");
  animation-delay: 21s;
}

.card_part.card_part-nine {
  z-index: 5;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/05_[S]_Puerta_Maya.jpg");
  animation-delay: 24s;
}

.card_part.card_part-ten {
  z-index: 4;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/11_[S]_Jeep_4.jpg");
  animation-delay: 27s;
}

.card_part.card_part-eleven {
  z-index: 3;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/06_[S]_Puerta_Maya.jpg");
  animation-delay: 30s;
}

.card_part.card_part-twelve {
  z-index: 2;
  background-image: url("/lessson13&14Final/images/6loc6vehicles/smallView/12_[S]_Jeep_2.jpg");
  animation-delay: 33s;
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-375px);
  }
  100% {
    transform: translateX(-375px);
  }
}
