body {
  font-size: 16px;
  max-width: $fullWidth;
  margin: 0 auto;
  font-family: $fontReg;
  font-size: $small;
  h1,
  h2,
  h3,
  h4 {
    font-family: $fontBold;
  }
  main,
  footer,
  .headerWords,
  .contactContainer {
    padding: 0 $gap;
    .contactTxt h3 {
      font-family: $fontLogo;
    }
  }
  .headerWords {
    text-align: center;
    background-color: $color1Yellow;
    color: $color4DBlue;
    padding: 3em 0;
    h1,h2 {
      margin: 0 0;
    }
  }
}

header {
  max-width: $centeredWidth;
  a {
    img {
      display: flex;
      margin: 0 auto;
      width: 30%;
      height: auto;
      padding: 1em 0;
    }
  }
}

nav {
  margin: 0 auto;
  width: 100%;
  background-color: $color5LBlue;
}

.navigation {
  list-style: none;
  padding: 0em;
  margin-top: 0em;
  margin-bottom: 0em;

  li:first-child {
    display: block;
  }

  li {
    display: none;
  }

  a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: $colorWhite;
  }

  a:hover {
    color: $colorBlack;
    background-color: $colorWhite;
  }

  .active {
    background-color: $color1Yellow;
    color: $colorBlack;
  }
  .hamburger {
    text-align: center;
  }
}

.responsive li {
  display: block;
}
