$colorWhite: #FFF;
$colorBlack: #000;
$color1Yellow: #fdc010;
$color2LGreen: #8bc34a;
$color3DGreen: #43a047;
$color4DBlue: #009688;
$color5LBlue: #09bcd3;

$fontBold: 'Modak', cursive;
$fontReg: 'Quicksand', sans-serif;