$colorWhite: #FFF;
$colorBlack: #000;
$color1Yellow: #fdc010;
$color2LGreen: #8bc34a;
$color3DGreen: #43a047;
$color4DBlue: #009688;
$color5LBlue: #09bcd3;

$fontBold: 'Modak', cursive;
$fontReg: 'Quicksand', sans-serif;

$small: .8em;
$medium: .9em;
$large: 1em;

$fullWidth: 1hw;
$centeredWidth: 960px;

// LOGO https://www.freelogodesign.org/preview?lang=en&name=Scoots%20Nature&logo=b39ca508-b830-4e5d-bfab-54f64fdf4ab0