@media only screen and (min-width: 30.5em) {
  body {
    background-color: yellow;
  }
  .navigation {
    display: flex;
    font-size: 1.3em;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  header {
    background-color: black;
    color: white;
    font-size: 1.35em;
  }

  header img {
    width: 75px;
    height: auto;
  }

  .headings h1 {
    margin: 0 0 0 30px;
  }

  .motto {
    letter-spacing: 1.5pt;
    margin-left: 37.5px;
    font-size: .9rem;
  }

  main {
    font-size: 1.35em;
  }

  footer {
    font-size: 1.2em;
  }
}
